/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My CSS*/
body {
	font-family: Helvetica, sans-serif;
	background: #CCC;
	min-width: 1280px;
}
nav {
	height: 100px;
	background: #000;
	border: 2px;
	width: 100%;
	margin: 108px 0 108px;
}

.menu-list {
	text-align: right;
	padding: 2px 70px 0;
}
.menu-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	padding: 30px 25px 29px 25px;
	margin-right: 50px;
}
.menu-item:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	right: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 0 48px 25px;
    border-color: transparent transparent transparent #fff;
}
.menu-item a {
	color: #000;
	font-family: Helvetica;
	font-size: 32px;
	line-height: 37px;
	text-transform: uppercase;
}

.menu-item a::before {
	content: "";
	top: 0;
	left: -25px;
	position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 48px 0;
    border-color: transparent #fff transparent transparent;
}

.menu-item a::after {
	content: "";
	bottom: 0;
	left: -25px;
	position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 48px 25px;
    border-color: transparent transparent #fff transparent;

}
nav .menu-item:hover{
	background: #ccc;
}
nav .menu-item:hover:after {
	border-color: transparent transparent transparent #ccc;
}
nav .menu-item:hover a:before {
	border-color: transparent #ccc transparent transparent ;
}
nav .menu-item:hover a:after {
	border-color: transparent transparent #ccc transparent ;
}

.menu.gradient {
	margin: 0;
	background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
.menu.gradient_.menu-item:hover{
	background: rgb(255,255,255,0.7); 
}
.menu.gradient_.menu-item:hover a{
    color: #000;
}
.menu.gradient_.menu-item:hover: a:after{
    border-color: transparent transparent transparent rgb(255,255,255,0.7);
}

.menu.gradient_.menu-item:hover: a:after{
    border-color: transparent transparent rgb(255,255,255,0.7) transparent;
}
.menu.gradient_.menu-item:hover: a:before{
    border-color: transparent rgb(255,255,255,0.7) transparent transparent;
}



